{% extends 'base.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block h1 %}Annuler la sortie {{ event.name }}{% endblock %}

{% block body %}

    <h2>Cette fenêtre permet d'annuler une sortie en justifiant le motif</h2>

    {{ form_start(form) }}

    {{ form_label(form.cancel) }}
    {{ form_widget(form.cancel) }}
    {{ form_help(form.cancel) }}

    <button class="btn btn-info">{{ button_label|default('Confirmer l\'annulation de la sortie ') }}</button>

    <a href="{{ path('home') }}" class="btn btn-info">Je ne souhaite pas annuler la sortie</a>
    {{ form_end(form) }}
{% endblock %}
