{% extends 'base.html.twig' %}

{% block title %}Liste des sorties ENI{% endblock %}

{% block h1 %}Les sorties ENI{% endblock %}

{% block body %}
    <h2>Filtrer les sorties</h2>
    <div>
        <form action="" method="post">

            <select name="school" id="school">
                {% for school in schools %}
                <option value="school.name">{{ school.name }}</option>
                {% endfor %}
            </select>

            <div>
            <label for="search"> Le nom de la sortie contient :</label>
            <input type="text" name="search" id="search">
            </div>
            <div>
                <label for="start">Entre : </label>
            <input type="date" name="start" id="start"/>
                <label for="end">Et : </label>
            <input type="date" name="end" id="end"/>
            </div>
            <button class="btn btn-info" type="submit" name="Rechercher"> Rechercher</button>
        </form>


    </div>




    <table class="table">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Clôture</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.start ? event.start|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ event.limitdate ? event.limitdate|date('Y-m-d') : '' }}</td>
                <td>{{ event.maxsize }}</td>
                <td>Etat</td>
                <td>Inscrit</td>
                <td>Organisateur</td>
                <td>
                    <a href="{{ path('event_show', {'id': event.id}) }}">Afficher</a>
                    <a href="{{ path('event_edit', {'id': event.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune sortie ne correspond à vos critères.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('event_new') }}">Create new</a>
{% endblock %}
