{% extends 'base.html.twig' %}

{% block title %}Liste des sorties ENI{% endblock %}

{% block h1 %}Les sorties ENI{% endblock %}

{% block body %}
    {% block main %}
        <form action="" method="post" class="form-group">
            <div class="row">
                <div class="col">
                    <div class="row">
                        <div class="col">

                            <label for="school"> Sélectionner un site</label>
                            <select name="school" id="school" class="form-control">
                                {% for school in schools %}
                                    {% set selected = '' %}
                                    {% if (app.user) and (app.user.school.id == school.id) %}
                                        {% set selected = 'selected' %}
                                    {% endif %}
                                    <option value="school.name" {{ selected }}>{{ school.name }}</option>
                                {% endfor %}
                            </select>

                        </div>
                        <div class="col">

                            <label for="search"> Le nom de la sortie contient</label>
                            <input type="text" name="search" id="search" class="form-control"/>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col">

                            <label for="start">Entre</label>
                            <input type="date" name="start" id="start" class="form-control"/>

                        </div>
                        <div class="col">

                            <label for="end">Et</label>
                            <input type="date" name="end" id="end" class="form-control"/>

                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-check">
                        <input type="checkbox" name="eventscreated" class="form-check-input" id="check1"/>
                        <label class="form-check-label" for="check1">Sorties que j'organise</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" name="registered" class="form-check-input" id="check2"/>
                        <label class="form-check-label" for="check2">Les sorties auxquelles je participe</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" name="notregistered" class="form-check-input" id="check3"/>
                        <label class="form-check-label" for="check3">Les sorties auxquelles je ne participe pas
                            encore</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" name="pastevents" class="form-check-input" id="check4"/>
                        <label class="form-check-label" for="check4">Anciennes sorties</label>
                    </div>


                    <button class="btn btn-info" type="submit" name="Rechercher"> Rechercher</button>
                </div>
            </div>
            <div>

            </div>
        </form>


<div class="sorties">
        <table class="table text-cente">
            <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Temps restant pour s'inscrire</th>
                <th>Inscrits/places</th>
                <th>Etat</th>
                <th>Organisateur</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="table">
            {% for event in paginator %}
                <tr>
                    <td>{{ event.name }}</td>
                    <td>{{ event.start ? event.start|date('d/m/Y à H:i') : '' }}</td>
                    <td>
                        <h4>
                            <span class="badge badge-{{ event.timeremaining['style'] }}">{{ event.timeremaining['time'] }}</span>
                        </h4>
                    </td>
                    <td>{{ event.actualsize }} / {{ event.maxsize }}</td>
                    <td>
                        <h4>
                            <span class="badge badge-{{ statusstyles[event.status] }}">{{ statusenum[event.status] }}</span>
                        </h4>
                    </td>
                    <td><a href="{{ path('user_show', {'id': event.creator.id}) }}">{{ event.creator }}</a></td>
                    <td>
                        <!-- Afficher -->
                        <a href="{{ path('event_show', {'id': event.id}) }}"><i
                                    class="icone-actions fa fa-search-plus"></i></a>
                        <!-- S'inscrire -->
                        {% if app.user and app.user in event.users %}
                            <a href="{{ path('event_withdraw', {'id': event.id}) }}"><i
                                        class="icone-actions fa fa-candy-cane"></i></a>
                        {% else %}
                        <a href="{{ path('event_inscription', {'id': event.id}) }}"><i
                                    class="icone-actions fa fa-search-plus"></i></a>
                            {% endif %}
                        {% if app.user == event.creator and event.status == 0 %}
                            <!-- Modifier -->
                            <a href="{{ path('event_edit', {'id': event.id}) }}"><i
                                        class="icone-actions fa fa-edit"></i></a>
                            <!-- Publier -->
                            <a href="{{ path('event_publish', {'id': event.id}) }}"><i
                                        class="icone-actions fa fa-check-circle"></i></a>
                            <!-- Supprimer -->
                            <a href="{{ path('event_delete', {'id': event.id}) }}"><i
                                        class="icone-actions fa fa-trash-alt"></i></a>

                        {% endif %}
                        {% if app.user == event.creator and event.status == 1 %}
                            <!-- Annuler -->
                            <a href="{{ path('event_cancel', {'id': event.id}) }}"><i
                                        class="icone-actions fa fa-window-close"></i></a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">Aucune sortie ne correspond à vos critères.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

</div>

    {% endblock %}

    {#
    {% if paginator|length>0 %}
        <div class="center">
            <nav aria-label="paginator">
                <ul class="pagination pagination-lg">
                    {% set nbPages = ((paginator|length)/constant('App\\Repository\\EventRepository::PAGINATION')) |round(0, 'ceil') %}
                    {% for i in 1..nbPages %}
                        <li class="page-item {% if (page == i) %}disabled{% endif %}">
                            <a class="page-link" href="{{ path('event_index', {'page' : i}) }}">
                                {{ i }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    {% endif %}
    #}

{% endblock %}

{% block javascripts %}
<script src="{{ asset('assets/js/search.js') }}"></script>
{% endblock %}