{% extends 'base.html.twig' %}

{% block title %}Nouvel évènement{% endblock %}

{% block h1 %}Organiser un évènement{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_help(form.name) }}
    {{ form_end(form) }}
    <a href="{{ path('event_index') }}">back to list</a>
{% endblock %}
