{% extends 'base.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block h1 %}{{ event.name }}{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
        <tr>
            <th>Début</th>
            <td>Le {{ event.start ? event.start|date('d/m/Y à H:i') : '' }}</td>
        </tr>
        <tr>
            <th>Durée prévue</th>
            <td>{{ event.duration }}</td>
        </tr>
        <tr>
            <th>Date limite d'inscription</th>
            <td>{{ event.limitdate ? event.limitdate|date('d/m/Y') : '' }}</td>
        </tr>
        <tr>
            <th>Places disponibles</th>
            <td>{{ event.maxsize }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ event.description }}</td>
        </tr>
        <tr>
            <th>
                Participants
            </th>
            <td>
                <ul>
                    {% for user in event.users %}
                        <li><a href="{{ path('user_show', {'id': user.id}) }}">{{ user.username }}</a></li>
                    {% else %}
                        <li>Aucun participant pour le moment :(</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>

    <!-- Si l'utilisateur est connecté et qu'il n'est pas déjà inscrit, il peut s'inscrire -->
    {% if app.user %}
        <a href="{{ path('event_inscription', {id : event.id }) }}">S'inscrire à la sortie</a>
    {% endif %}

    <a href="{{ path('event_index') }}">Revenir à la liste des sorties</a>
    <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>

    {{ include('event/_delete_form.html.twig') }}

{% endblock %}
