{% extends 'base.html.twig' %}

{% block title %}{{ event.name }}{% endblock %}

{% block h1 %}{{ event.name }}{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
        <tr>
            <th>Début</th>
            <td>{{ event.start ? event.start|date('H:i d-m-Y') : '' }}</td>
        </tr>
        <tr>
            <th>Fin</th>
            <td>{{ event.end ? event.end|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Date limite d'inscription</th>
            <td>{{ event.limitdate ? event.limitdate|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>Places disponibles</th>
            <td>{{ event.maxsize }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ event.description }}</td>
        </tr>
        </tbody>
    </table>

    {% if app.user %}
        <a href="{{ path('event_inscription', {id : event.id }) }">S'inscrire à la sortie</a>
    {% endif %}

    <a href="{{ path('event_index') }}">Revenir à la liste des sorties</a>
    <a href="{{ path('event_edit', {'id': event.id}) }}">edit</a>

    {{ include('event/_delete_form.html.twig') }}

{% endblock %}
