{% extends 'base.html.twig' %}

{% block title %}Modifier{% endblock %}

{% block body %}
    <h1>Modifier {{ city.name }}</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-info" style="margin-top: 1rem">{{ button_label|default('Enregistrer') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('city_show', {'id': city.id}) }}" class="btn btn-info" style="margin-top: 1rem">Retour</a>

{% endblock %}
