{% extends 'base.html.twig' %}

{% block title %}Liste des villes{% endblock %}

{% block h1 %}Gérer les villes{% endblock %}

{% block body %}
    <div>
        <label for="search">Recherche</label>
        <input type="text" name="search" id="search" class="form-control">
        <hr>
        {{ form_start(form) }}
        {{ form_widget(form.name) }}
        {{ form_help(form.name) }}
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
        {{ form_end(form) }}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Code postal</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td><a href="{{ path('city_show', {'id': city.id}) }}">{{ city.name }}</a></td>
                <td>{{ city.zipcode }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('city_add') }}">Create new</a>
{% endblock %}
