{% extends 'base.html.twig' %}

{% block title %}Liste des villes{% endblock %}

{% block h1 %}Gestion des villes{% endblock %}

{% block body %}
    <div>
        <label for="search">Rechercher :</label>
        <input type="text" name="search" id="search" class="form-control">
        <hr>
        {{ form_start(form) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_help(form.name) }}
        {{ form_label(form.zipcode) }}
        {{ form_widget(form.zipcode) }}
        {{ form_help(form.zipcode) }}
        <button class="button btn btn-info">{{ button_label|default('Enregistrer') }}</button>
        {{ form_end(form) }}
    </div>

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Code postal</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="table">
            {% for city in cities %}
                <tr>
                    <td>{{ city.name }}</td>
                    <td>{{ city.zipcode }}</td>
                    <td>
                        <a href="{{ path('city_edit', {'id': city.id}) }}">Modifier</a>
                        {% include 'city/_delete_form.html.twig' %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucune ville n'est enregistrée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/search.js') }}"></script>
{% endblock %}
