{% extends 'base.html.twig' %}

{% block title %}Liste des lieux de sortie{% endblock %}

{% block h1 %}Liste des lieux de sortie{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for place in places %}
            <tr>
                <td>{{ place.name }}</td>
                <td>{{ place.address }}</td>
                <td>{{ place.city.name }}</td>
                <td>{{ place.longitude }}</td>
                <td>{{ place.latitude }}</td>
                <td>
                    <a href="{{ path('place_show', {'id': place.id}) }}">show</a>
                    <a href="{{ path('place_edit', {'id': place.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun lieu de sortie enregistré</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('place_new') }}">Create new</a>
{% endblock %}
