{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block h1 %}Gérer les écoles{% endblock %}

{% block body %}
    <div>
        <label for="search">Recherche</label>
        <input type="text" name="search" id="search" class="form-control">
        <hr>
        {{ form_start(form) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
        {{ form_help(form.name) }}
        <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>
        {{ form_end(form) }}
    </div>
    <div>
        <table class="table">
            <thead>
            <tr>
                <th>Ecole ENI</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody id="table">
            {% for school in schools %}
                <tr>
                    <td>{{ school.name }}</td>
                    <td>
                        <a href="{{ path('school_edit', {'id': school.id}) }}">Modifier -</a>
                        <a href="{{ path('school_delete', {'id': school.id}) }}"
                           onsubmit="return confirm('Etes-vous sûr de vouloir supprimer l\'école ?');">Supprimer</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">Aucune école enregistrée</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/search.js') }}"></script>
{% endblock %}

