{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block h1 %}{{ user.username }}{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Ecole de rattachement</th>
                <td>{{ user.school }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                {#<td>{{ user.avatar }}</td>#}
                <td><img src="{{ asset('img/avatars' ~ user.avatar) }}" alt=""/></td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">Retour à la liste</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
