{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block h1 %}{{ user.username }}{% endblock %}

{% block body %}

    <table class="table">
        <tbody>
            <tr>
                <th>Prénom</th>
                <td>{{ user.firstname }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.lastname }}</td>
            </tr>
            <tr>
                <th>Téléphone</th>
                <td>{{ user.phone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Ecole de rattachement</th>
                <td>{{ user.school }}</td>
            </tr>
            <tr>
                <th>Avatar</th>
                <td><img src="{{ asset('assets/img/avatar/') }}{{ user.avatar }}" alt="" style="width: 50px;"></td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('user_index') }}">Retour à la liste</a>

    {% if app.user and app.user.id == user.id %}
    <a class="btn btn-info" href="{{ path('user_edit', {'id': user.id}) }}">Modifier</a>
    {% endif %}

{% endblock %}
